*{
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url(./images/img.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .main{
    display: flex;
    justify-content: space-between;
    color: #ccc;
    }
  .header{
    margin-left: 5%;
    font-size: 20px;
    font-family: lobster;
    font-weight: bolder;
  }
  .logo span{
    color: rgba(169, 42, 65, 1);
  }
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 9px 10px;
}
.navbar a {
    color: #ccc;
    text-decoration: none;
    margin: 10px;
    background-color: rgb(56, 16, 95);
    border-radius: 15px;
    font-family: inter ;
    padding: 10px;
  }
