*{
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url(./images/img.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .main{
    display: flex;
    justify-content: space-between;
    color: #ccc;
    }
  .header{
    margin-left: 5%;
    font-size: 20px;
    font-family: lobster;
    font-weight: bolder;
  }
  .logo span{
    color: rgba(169, 42, 65, 1);
  }
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 9px 10px;
}
.navbar a {
    color: #ccc;
    text-decoration: none;
    margin: 10px;
    background-color: rgb(56, 16, 95);
    border-radius: 15px;
    font-family: inter ;
    padding: 10px;
  }
  .home-content{
    margin-left: 5%;
    font-family:lobster;
    color: #ccc;
  }
  .home-content h2{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .home-content h3{
    font-size: 50px;
    margin-bottom: 20px;
  }
.music-container{
 display: flex;
 justify-content: space-between;
}
.list-container{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5cm;
    width: 30%;
  }
  .list-header{
    color: rgba(169, 42, 65, 1);
  }
  #music-list{
    list-style: none; 
    color: #ccc;
    border-bottom: 1px solid;
  }
  .music-details,.list-container{
    background-color: rgba(1, 1, 26, 0.897);
    padding: 15px;
    color: #ccc;
    border-radius: 10px;
    margin: 20px auto;
  }
  #image {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px;
  }
  .music-details{
    width: 50%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .music-details .name {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  .music-details .text,#location,#date,#available-tickets {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
 strong{
    color: rgba(169, 42, 65, 1);
 }
 .user-form,#artist-form {
    max-width: 400px;
    margin: 0 auto;
    color: #ccc;
    padding: 35px;
    background-color: rgba(1, 1, 26, 0.897);
    border-radius: 5px;
  }
  #artist-form h2{
    margin-bottom: 10px;
  }
  .user-form h3{
    margin-bottom: 10px;
  }
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  form input[type="text"],
  form input[type="email"],
  form textarea  {
   width: 100%;
   padding: 10px;
   background-color: #ccc;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom: 10px;
 } 

